nav {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;

  @media (max-width: 768px) {
    margin: 0;
  }

  a {
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: rgb(136, 136, 136) !important;
    transition: all 0.3s ease-out;
  }

  #navMenu {
    @media (max-width: 1024px) {
      position: absolute;
      right: 0;
      width: 300px;
    }
  }
}

.gap-6 {
  gap: 2rem;
}

.card-profile-wrapper {
  background-color: white;
  border-radius: 8px;
  padding-bottom: 30px;

  .bg-image {
    background-image: url("https://images.unsplash.com/photo-1536909526839-8f10e29ba80c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 380px;
    width: 100%;
    border-radius: 8px;

    @media (max-width: 768px) {
      height: 280px;
    }
  }

  .is-rounded {
    border-radius: 9999px;
  }

  .position-profile-image {
    position: absolute;
    bottom: -128px !important;
    left: 64px !important;
    border: solid 6px #fef5ff;
    border-radius: 999px;

    @media (max-width: 768px) {
      position: absolute;
      left: 50% !important;
      transform: translateX(-50%);
    }
  }

  .is-256x256 {
    width: 256px;
    height: 256px;
  }

  .tags {
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 360px;
    bottom: -8px;
    gap: 30px;

    @media (max-width: 768px) {
      flex-direction: row !important;
      justify-content: center;
      left: 0;
      right: 0;
      gap: 15px;
      top: 430px;
    }
  }

  .sm-card {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: white;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 600;
    height: 20px;
    padding: 16px 20px;
    box-shadow: 3px 3px 10px 1px #0000000e;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;

    .mdi {
      color: #c238f8;
      font-size: 18px;
    }

    &:hover {
      transform: translate(0, -10px);
      transition-duration: 0.5s;
    }

    @media (max-width: 768px) {
      font-size: 12px;
      padding: 10px 14px;

      .mdi {
        font-size: 15px;
      }
    }
  }

  h2 {
    font-size: 48px;
    font-weight: 600;
  }

  .personal-informations {
    margin-left: 360px;
    margin-top: 30px;
    padding: 30px;

    @media (max-width: 768px) {
      margin: 200px 30px 0;
      text-align: center;
    }

    .social-icons {
      display: flex;
      gap: 1.5rem;
      margin-bottom: 45px;

      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        transition: all 0.5s ease-in-out;

        span {
          font-size: 14px;
        }
      }

      a:hover {
        filter: brightness(0.75);
      }

      @media (max-width: 768px) {
        justify-content: center;
      }
    }
  }
}

.about-view-wrapper {
  background-color: white;
  border-radius: 8px;
  padding: 30px;

  h1 {
    text-align: center;
  }

  .projects {
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    div {
      flex: 1;
    }

    @media(max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }

    @media(max-width: 768px) {
      grid-template-columns: 1fr;
    } 
  }
  
  .stacks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    margin-top: 45px;
    
    @media(max-width: 1215px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .box {
    width: 60px;
    height: 60px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }

    img {
      object-fit: contain;
    }
  }
}

.project-card-wrapper {
  .image img {
    object-fit: cover;
    max-height: 143px;
  }

  .content, figure {
    margin: 0!important;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: opacity(.85);
    }
  }

  .modal-content img {
    object-fit: cover;
    width: 100%;
  }
}

.lista-view-wrapper {
  background-color: white;
  border-radius: 8px;
  padding: 30px;

  display: flex;
  gap: 2rem;

  .left, .right {
    width: 50%;
  }

  li {
    padding: 15px;
    transition: all 0.3s ease-in-out;
    border-bottom: solid 1px rgb(243, 243, 243);
    border-radius: 8px;

    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.message-wrapper {
  .message-body {
    text-align: center!important;
    padding: 30px 0;
  }
}